# Codex target browsers, aligning to Wikimedia project browser support matrix –
# https://www.mediawiki.org/wiki/Compatibility#Browser_support_matrix
# See https://gitlab.wikimedia.org/repos/ci-tools/browserslist-config-wikimedia

extends browserslist-config-wikimedia/modern
