C. Scott Ananian <cananian@wikimedia.org>
C. Scott Ananian <cananian@wikimedia.org> <cscott@cscott.net>
Eric Gardner <egardner@wikimedia.org>
Eric Gardner <egardner@wikimedia.org> <gardner.ec@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Lauralyn Watson <lwatson@wikimedia.org>
Lauralyn Watson <lwatson@wikimedia.org> <lwatson-ctr@wikimedia.org>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de> <mail@lucaswerkmeister.de>
Michael Große <mic.grosse@googlemail.com>
Michael Große <mic.grosse@googlemail.com> <michael.grosse@wikimedia.de>
Roan Kattouw <roan@wikimedia.org>
Roan Kattouw <roan@wikimedia.org> <roan.kattouw@gmail.com>
Simone Cuomo <simone@thisdot.co>
Simone Cuomo <simone@thisdot.co> <scuomo1988@gmail.com>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Tonina Zhelyazkova <tonina.zhelyazkova@wikimedia.de>
Volker E. <volker.e@wikimedia.org>
Volker E. <volker.e@wikimedia.org> <Volker-E@users.noreply.github.com>
