/* Custom CSS variables and rules for VitePress docs. */
@import '@wikimedia/codex-design-tokens/dist/theme-wikimedia-ui.css';

/* stylelint-disable selector-class-pattern */

:root {
	/* Override base VitePress theme tokens. */
	--c-brand: var( --color-progressive );
	--c-brand-light: var( --color-progressive--hover );

	--font-family-base: var( --font-family-sans );
	--font-family-serif: var( --font-family-serif );
}

html,
body {
	/* Use `initial` to overwrite VitePress' absolute font sizing.
	 * We can't use `unset` due to cross-browser compatibility right now.
	 * See T303100.
	 */
	font-size: initial;
}

h1 {
	font-family: var( --font-family-heading-main );
	font-weight: var( --font-weight-normal );
}

h4 {
	/* This is to match h3 styles from VitePress. */
	/* stylelint-disable-next-line unit-disallowed-list */
	margin-top: 1.15rem;
}

td {
	padding: 8px 12px;
}

/* Styles for custom blocks; see https://vitepress.vuejs.org/guide/markdown.html#custom-containers. */
.custom-block.info {
	background-color: var( --background-color-message-notice );
	color: var( --color-notice );
	border-color: var( --border-color-notice );
}

.custom-block.warning {
	background-color: var( --background-color-message-warning );
	/* Use notice color for improved readability. */
	color: var( --color-notice );
	border-color: var( --border-color-warning );
}

.custom-block.warning .custom-block-title {
	color: var( --color-utility-yellow30 );
}

.custom-block.danger {
	background-color: var( --background-color-message-error );
	/* Use notice color for improved readability. */
	color: var( --color-notice );
	border-color: var( --border-color-error );
}

.custom-block.danger .custom-block-title {
	color: var( --color-destructive--active );
}

/* Override VitePress styles to set link color within custom blocks. */
.custom-block.warning a,
.custom-block.danger a {
	color: var( --c-brand );
}

/* stylelint-enable selector-class-pattern */

.cdx-docs-demo-text {
	margin: 0 0 16px;
	font-weight: var( --font-weight-bold );
}

.cdx-docs-required-indicator {
	margin-left: 4px;
}

.cdx-docs-methods__params {
	margin: 0;
}
