/* Custom CSS variables and rules for VitePress docs. */

:root {
	--c-brand: #36c;
	--c-brand-light: #447ff5;

	--font-family-base: 'Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Arial', sans-serif;
	--font-family-serif: 'Charter', 'Georgia', serif;
}

h1 {
	font-family: var( --font-family-serif );
	font-weight: normal;
}

h4 {
	/* This is to match h3 styles from VitePress. */
	/* stylelint-disable-next-line unit-disallowed-list, plugin/no-unsupported-browser-features */
	margin-top: 1.15rem;
}

/* TODO: These should probably use design tokens. */
.custom-block.info {
	background-color: #eaecf0;
	color: #000;
	border-color: #a2a9b1;
}

.custom-block.warning {
	background-color: #fef6e7;
	color: #000;
	border-color: #fc3;
}

.custom-block.warning a {
	color: var( --c-brand );
}

.custom-block.warning .custom-block-title {
	color: #ac6600;
}

.custom-block.danger {
	background-color: #fee7e6;
	color: #b32424;
	border-color: #d33;
}

.custom-block.danger .custom-block-title {
	color: #b32424;
}

.vp-required-indicator {
	margin-left: 4px;
}
