// Common Less mixin library for Codex.
// Featuring mixins, that are not component or component group specific.

// Support Webkit/Blink: Force element on own GPU composite layer
// Can be used in order to help establish smooth, jank-free scrolling in
// connection with CSS animations or tame `opacity` bug. Use sparingly & wisely!
// See T154460 & T182257.
.force-gpu-composite-layer() {
	-webkit-transform: translateZ( 0 );
	transform: translateZ( 0 );
}

// Truncate overflow text with value of `ellipsis` (mixin default),
// a custom string (Firefox 9+ only) or show.
// Recommended usage: `.text-overflow( @visible: false )` for best readability.
.text-overflow( @visible: false, @value: ellipsis ) { // stylelint-disable-line selector-class-pattern
	& when ( @visible = true ) {
		overflow: visible;
		text-overflow: clip;
		white-space: normal;
	}
	& when ( @visible = false ) {
		// Hide overflowing text.
		overflow: hidden;
		// Use an ellipsis or a custom string to indicate text overflow.
		text-overflow: @value;
		// Force overflow of the description text.
		white-space: nowrap;
	}
}

// Screen Reader Helper Mixin for visually hidden text.
.screen-reader-text() {
	display: block;
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute !important; /* stylelint-disable-line declaration-no-important */
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
